<ion-header>

</ion-header>

<ion-content>
  <form [formGroup]="confirmForm" (ngSubmit)="tryConfirm()">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center" color="dark">Confirm your account</ion-card-title>
        <ion-card-subtitle class="ion-text-center" color="dark">We've sent you an email with the confirmation code</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item color="dark">
          <ion-input formControlName="code" placeholder="Confirmation code"></ion-input>
        </ion-item>
        <br>
        <div id="spinnercontainer"><ion-spinner *ngIf="loading" color="dark"></ion-spinner></div>     
        <ion-button #submitBtn color="primary" type="submit" expand="block" [disabled]="!confirmForm.valid" *ngIf="!loading"><b>Confirm</b></ion-button>    
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
