<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="12">
    <agm-marker
     [latitude]="latitude" 
     [longitude]="longitude"
     [iconUrl]="
     {
       url: './assets/bicycle-outline.svg',
       scaledSize: {
        width: 40,
        height: 30
      }
     }">
    </agm-marker>
  </agm-map>

</ion-content>
