ion-content {
    --padding-top: 20%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: url('../fiets-achtergrond.jpg') 0 0/100% 100% no-repeat;
}

ion-button {
    padding: 1%
}

#spinnercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}