<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Find your bike</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <form [formGroup]="loginForm" (ngSubmit)="tryLogin()">
    <div class="input-group">
      <ion-item color="dark">
        <ion-input type="email" formControlName="login" placeholder="Email / Username"></ion-input>-->
      </ion-item>
      <ion-item color="dark">
        <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>-->
      </ion-item>
    </div>
    <ion-button color="primary" type="submit" expand="block" [routerLink]="['../tabs']"><b>Log in</b></ion-button>
    <ion-button type="submit" expand="block" color="primary" [routerLink]="['./registration']"><b>Sign up</b></ion-button>
  </form>

</ion-content>
