<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="daily-report">
      <ion-icon name="analytics-outline" color="light"></ion-icon>
      <ion-label color="light">Daily report</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="bikes">
      <ion-icon name="map" color="light"></ion-icon>
      <ion-label color="light">My bikes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline" color="light"></ion-icon>
      <ion-label color="light">Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
