<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My bikes</ion-title>
    <ion-button slot="primary" routerLink="add">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
    <ion-button slot="primary" (click)="refresh()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="spinnerCenter">

  <ion-spinner *ngIf="loading == true"></ion-spinner>

  <div *ngIf="loading == false && bikes == 0">
    <ion-slides>
      <ion-slide>
        <div class="slide">
          <h2>Welcome</h2>
          <p>Start by adding your first bike.</p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-list color="light">
    <div *ngFor="let bike of bikes; let i = index" style="display: grid;" [ngSwitch]="bike.type">

      <ng-template ngSwitchCase="A">
        <app-regularbike [bike]=bike>
        </app-regularbike>
      </ng-template>

      <ng-template ngSwitchCase="B">
        <app-unknownbike [bike]=bike>
        </app-unknownbike>
      </ng-template>

    </div>
    
  </ion-list>
</ion-content>
