<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My bikes</ion-title>
    <ion-button slot="primary" (click)="refresh()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-spinner *ngIf="bikes == 0"></ion-spinner>
  <ion-list>
    <ion-card *ngFor="let bike of bikes; let i = index">
      <ion-card-header>
        <ion-card-title color="dark" style="font-weight: bold;">{{bike.bikename}}</ion-card-title>
        <ion-card-subtitle color="dark" style="font-style: italic;">{{bike.BikeID}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button fill="outline" routerLink="map/{{bike.BikeID}}">
          <ion-icon name="navigate-outline" slot="start"></ion-icon>
          Find this bike
        </ion-button>
        <ion-button color="danger" fill="clear" slot="end">
          <ion-icon name="trash-outline" slot="end"></ion-icon> 
        </ion-button><br>
          Last time updated:
          <p style="display: inline;" *ngIf="bike.time < 60">{{bike.time | number: '1.0-0'}} Second(s) ago</p>
          <p style="display: inline;" *ngIf="60 <= bike.time && bike.time < 3600">{{(bike.time / 60) | number: '1.0-0'}} Minute(s) ago</p>
          <p style="display: inline;" *ngIf="3600 <= bike.time && bike.time < 86400">{{(bike.time / 60 / 60) | number: '1.0-0'}} Hour(s) ago</p>
          <p style="display: inline;" *ngIf="86400 <= bike.time">{{(bike.time / 60 / 60 / 24) | number: '1.0-0'}} Day(s) ago</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
