<ion-header>
  <ion-toolbar>
    <ion-title color="dark">My bikes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-list>
    <ion-card *ngFor="let bike of bikes; let i = index">
      <ion-card-header>
        <ion-card-title color="dark">{{bike.bikename}}</ion-card-title>
        <ion-card-subtitle color="dark">Robbe Willeme</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button fill="outline" routerLink="map/{{bike.BikeID}}">
          <ion-icon name="navigate-outline" slot="start"></ion-icon>
          Find this bike
        </ion-button>
        <ion-button color="danger" fill="clear" slot="end">
          <ion-icon name="trash-outline" slot="end"></ion-icon> 
        </ion-button><br>
          Last time updated: {{bike.time}} Minute(s) ago
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
