<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="ion-padding">
  <ion-grid>
    <ion-row><ion-col>Options</ion-col></ion-row>
    <ion-row><ion-col><ion-button expand="block" (click)="ClosePopover()">Watch report</ion-button></ion-col></ion-row>
    <ion-row><ion-col><ion-button expand="block" (click)="ClosePopover()">Change name</ion-button></ion-col></ion-row>
    <ion-row><ion-col><ion-button expand="block" (click)="ClosePopover()">Delete bike</ion-button></ion-col></ion-row>
    
  </ion-grid>
</ion-content>
