<ion-header>
  <ion-toolbar>
    <ion-title>{{bike.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="ion-padding">
  <!-- <ion-grid>
    <ion-row><ion-col>Options</ion-col></ion-row>
    <ion-row><ion-label>Bike Active</ion-label><ion-col><ion-toggle></ion-toggle></ion-col></ion-row>
    <ion-row><ion-col><ion-button expand="block" (click)="ClosePopover()">Watch report</ion-button></ion-col></ion-row>
    <ion-row><ion-col><ion-button expand="block" (click)="ClosePopover()">Change name</ion-button></ion-col></ion-row>
    <ion-row><ion-col><ion-button expand="block" (click)="ClosePopover()">Delete bike</ion-button></ion-col></ion-row>
    
  </ion-grid> -->
  <ion-list class="ion-list">
    <ion-item>
      <ion-label>Bike Active</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-button expand="block" (click)="ClosePopover($event)">Watch report</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block" (click)="ClosePopover($event)" (click)="presentAlertPrompt()">Change name</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block" (click)="ClosePopover($event)" (click)="tryDeleteBike()">Delete bike</ion-button>
    </ion-item>
    
  </ion-list>
</ion-content>
