<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="daily-report">
      <ion-icon name="analytics-outline" color="dark"></ion-icon>
      <ion-label color="dark">Daily report</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <ion-icon name="map" color="dark"></ion-icon>
      <ion-label color="dark">My bike</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline" color="dark"></ion-icon>
      <ion-label color="dark">Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
