<ion-card style="display: grid;">
  <ion-card-header class="grid-item">
    <div style="display: flex;">
      <ion-card-title color="dark" style="font-weight: bold;">{{bike.name}}</ion-card-title>
      <ion-button fill="clear" size="small" style="display: inline;" (click)="presentPopover($event,bike)">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </div>
    <ion-card-subtitle color="dark" style="font-style: italic;">We haven't seen this bike yet</ion-card-subtitle>
  </ion-card-header>
</ion-card>